{
  "extends": ["wesbos"],
  "rules": {
    "no-console": 1,
    "quotes": [2, "backtick", { "avoidEscape": true }],
    "react/prop-types": 0,
    "semi": [1, "always"],
    "comma-dangle": [
      "error",
      {
        "arrays": "always",
        "objects": "always",
        "functions": "ignore"
      }
    ],
    "prettier/prettier": [{ "trailingComma": "es5" }, "error"]
  }
}
